:root {
  --primary: #31087b;
  --secondary: #fa2fb5;
  --thirdy: #100720;
  --forthy: white;
  --fithy: #ffc23c;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary);
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: var(--thirdy);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: var(--secondary);
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

h4 {
  color: var(--fithy);
  font-size: 2rem;
}

main {
  color: var(--forthy);
  padding: 3% 22%;
  line-height: 2.3;
  font-size: 1.2rem;
}

#authors {
  font-weight: 200;
}

#remember {
  font-weight: 600;
  font-size: 1.5rem;
  border: 3px solid var(--forthy);
  padding: 0.5rem;
}

footer {
  background-color: var(--thirdy);
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer button {
  background-color: transparent;
  border-radius: 5px;
  padding: 0.5%;
  border: none;
  border: 2px solid var(--secondary);
  cursor: pointer;
  font-size: 1.2rem;
  color: #f7f8f1;
  box-shadow: 0 0 10px var(--secondary);
}
footer button:hover {
  box-shadow: 0 0 20px var(--secondary);
}

footer span {
  color: var(--secondary);
  font-size: 1.5rem;
}
